includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - includes
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # WordPress generic types - REST API doesn't use specific generics
        - '#Method .* has parameter \$request with generic class WP_REST_Request but does not specify its types: T#'